<div class="cart-container">
    <div class="row" *ngFor="let cartItem of cartList">
        <div class="col-5">
            <div class="product-img-container">
                <img class="product-img" src="./../../../assets/images/herbal-med.jpg" />
            </div>
        </div>
        <div class="col-7">
            <div class="product-name">{{cartItem.productName}}</div>
            <div class="product-description">{{cartItem.description}}</div>
            <div>
                <button class="btn btn-primary place-order-btn">Place order</button>
            </div>
        </div>
    </div>
</div>