<div class="cart-container">
    <div class="row product-item" *ngFor="let cartItem of cartList">
        <div class="col-5">
            <div class="carousel-container" *ngIf="cartItem.productImagesToBeShown">
                <carousel>
                    <slide *ngFor="let item of cartItem.productImagesToBeShown;let i=index">
                      <img class="product-img" src='{{item}}' style="display: block; width: 100%;">
                    </slide>
                  </carousel>
            </div>   
            <!-- <div class="form-group product-img-container row" *ngIf="cartItem.productImagesToBeShown">
                <div class="col-4 product-images" *ngFor="let item of cartItem.productImagesToBeShown;let i=index">
                    <img class="product-img" src='{{item}}' />
                </div>
            </div> -->
            <div class ="product-img-container default-img-container" *ngIf="!cartItem.productImagesToBeShown">
                <img class="product-img" src = "assets/images/herbal-med.jpg"/>
            </div>
        </div>
        <div class="col-7">
            <div class="product-name">{{cartItem.productName}}</div>
            <div class="product-description">{{cartItem.description}}</div>
            <div>
                <button class="btn btn-outline place-order-btn" (click)="confirmOrder(cartItem)">Place order</button>
            </div>
        </div>
    </div>
    <div class="empty-data" *ngIf="cartList && cartList.length==0">
        Cart list is empty
    </div>
</div>