    <!-- add product button -->
    <button (click) = "openAddProductModal(addProductTemplate)">add product</button>
    <!-- add product modal  -->
    <ng-template #addProductTemplate>
      <div class="modal-header">
          <h4 class="modal-title pull-left">Add Product</h4>
          <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <form [formGroup] = "productForm" (ngSubmit) = "handleFormSubmit(productForm.value)">
                <div>
                    <label>Name</label>
                    <input type = "text" formControlName= "name"/>
                    <div *ngIf = "productForm.controls['name'].errors?.required && productForm.controls['name'].touched" class = "error-message">Please fill name.</div>
                </div>
                <div>
                    <label>Description</label>
                    <textarea type = "text" formControlName= "description"></textarea>
                </div>   
                <div>
                    <label>Shlok</label>
                    <input type = "text" formControlName= "Shlok"/>
                </div>
                <div>
                    <label>Reference</label>
                    <input type = "text" formControlName= "reference"/>
                </div>  
                <div>
                    <label>dosage</label>
                    <input type = "text" formControlName= "dosage"/>
                </div>   
                <div>
                    <label>Indications</label>
                    <input type = "text" formControlName= "indications"/>
                </div>
                <div>
                    <label>Contraindications</label>
                    <input type = "text" formControlName= "contraindications"/>
                </div>    
                <div>
                    <label>Sanskrit Name</label>
                    <input type = "text" formControlName= "sanskritName"/>
                </div>     
                <div>
                    <label>Botanical Name</label>
                    <input type = "text" formControlName= "botanicalName"/>
                </div>  
                <div>
                    <label>Drug Quantity</label>
                    <input type = "text" formControlName= "drugQuantity"/>
                </div>
                <div>
                    <label>Stock</label>
                    <input type="number" formControlName = "stock"/>
                </div>
                <div>
                    <label>Price</label>
                    <input type="number" formControlName = "price"/>
                </div>               
          </form>
      </div>
  </ng-template>
