@import "./../../assets/scss/common.scss";

.order-accepted {
    border: solid 1px $container-border-color;
    background-color: $confirm-status-background;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    margin-bottom: 10px;

    .check-icon {
        color:$check-icon-color;
    }
}

.order-progress-container {
    margin-bottom: 10px;

    .order-progress {
        border: solid 1px $container-border-color;
        background-color: $pending-status-background;
        border-radius: 5px;
        padding: 5px;
        display: inline;
    
        .clock-icon {
            color: $pendingclock-icon-color;
        }
    }
}

.quantity-readonly-container {
    margin-bottom: 10px;
    .quantity-value {
        background-color: $pending-status-background;
        border: solid 1px $box-shadow-color;
        border-radius: 20px;
        padding: 2px 10px;
    }
}

.order-page-info {
    width: 64%;
    display: block;
    margin: auto;
    text-align: center;

    @media screen and (max-width: 768px) {
        width: 94% !important;
    }
}

.product-ordered-datecontainer {
    .ordered-date-title {
        @media screen and (max-width: 768px) {
            display: block;
            margin-bottom: 5px;
        }
    }
}

.place-order-btn {
    @media screen and (max-width: 768px) {
        width: 100% !important;
        margin-bottom: 10px;
    }
  }
  
  .remove-btn {
    @media screen and (max-width: 768px) {
        width: 100% !important;
    }
  }