<div class="cart-container">
    <div class="row" *ngFor="let orderedItem of orderList">
        <div class="col-5">
            <div class="form-group product-img-container row" *ngIf="orderedItem.productImages">
                <div class="col-4 product-images" *ngFor="let item of orderedItem.productImages;let i=index">
                    <img class="product-img" src='{{item}}' />
                </div>
            </div>
            <div class ="product-img-container default-img-container" *ngIf="!orderedItem.productImages">
                <img class="product-img" src = "assets/images/herbal-med.jpg"/>
            </div>
        </div>
        <div class="col-7">
            <div class="product-name">{{orderedItem.productName}}</div>
            <div class="product-description">{{orderedItem.description}}</div>
            <div>
                <button *ngIf="userDetails.isAdmin" class="btn btn-primary place-order-btn">Confirm order</button>
            </div>
        </div>
    </div>
</div>