@import "./../../../assets/scss/variables.scss";
@import "./../../../assets/scss/common.scss";

.category-menu-container {
    border: solid 1px gainsboro;
    box-shadow: 0px 2px 2px gainsboro;
    background-color: $page-container-background;

    @media screen and (max-width: 768px){
        border: none !important;
        height: 57px !important;
    }

    .categories-header-title {
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
        background-image: url('./../../../assets/images/background-img.png');
        color:$questions-theme-color;
        z-index: 1000;
        box-shadow: 1px 1px 4px 1px $box-shadow-color;
        white-space: pre-wrap;

        @media screen and (max-width: 768px){
            background-image: none !important;
            box-shadow: none;
            height: 57px !important;
            padding: 15px 20px 18px 10px !important;
        }

        .accordion-icon {
            float: right;
            margin-top: 2px;
        }
    }

    .category-list {
        list-style-type: none;
        padding-left: 0px;
        margin-bottom: 0px;
        li {
           border: solid 1px gainsboro;
           padding: 10px;
           font-size: 13px;

           @media screen and (max-width: 768px){
            padding: 12px;
            font-size: 16px;
            border-left: none !important;
           }

           &.active {
            border-left: solid 2px $delete-icon-color;
           }

           &:hover {
            border-left: solid 2px $delete-icon-color;
           }

        }

        .category-actions-btn {
            @media screen and (max-width: 768px){
                float: none!important;
                display: block;
                margin-top: 10px;
            }
        }
    }
}

.add-category-btncontainer {
    margin-bottom: 20px;
}

.addcategory-mobile-container {
    @media screen and (max-width: 768px){
        margin-left: 15px;
        display: inline!important;
    }
}
