@import "./../../../../assets/scss/variables.scss";

.product-image-container{
    text-align: center;
}

.product-name{
    font-weight: bold;
}

.table{
    margin-top: 8px;
}

.modal-header, .modal-body{
  font-family: 'Arial';
}

.product-name {
    color: $product-name-color;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}