<div class="product-name" (click) = "openProductDescriptionModal(productDescriptionTemplate)">{{product.productName}}</div>

    <!-- product description modal  -->
    <ng-template #productDescriptionTemplate>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Product description</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group product-img-container row" *ngIf="this.productImages">
                <div class="col-4" *ngFor="let item of this.productImages;let i=index">
                    <img class="product-img" src='{{item}}' />
                </div>
            </div>
            <div class ="product-image-container" *ngIf="!this.productImages">
                <img src = "assets/images/herbal-med.jpg" width = "100px" height = "100px"/>
            </div>
            <div class = "product-name">{{product.productName}}</div>
            <div class = "product-description">{{product.description}}</div>
            <table class = "table">
                <thead>
                    <tr>
                      <th>sr. no.</th>
                      <th>Sanskrit Name</th>
                      <th>Botanical Name</th>
                      <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>{{product.sanskritName}}</td>
                        <td>{{product.botanicalName}}</td>
                        <td>{{product.drugQuantity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>