@import "./variables.scss";

.btn-full-width {
  width: 100% !important;
}

.edit-icon {
  margin-right: 5px
}

.delete-icon {
  color: $delete-icon-color;
}

.no-padding {
  padding:0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

.no-padding-right {
  padding-right: 0px !important;
}