$header-theme-background:#fbfbfb;
$header-theme-color:#d84315;
$button-theme-background:#f07c29;
$button-theme-color:#fff;
$searchBtn-theme-background:#28a745;
$searchBtn-theme-color:#fff;
$questions-theme-color:black;
$showHideToggleIcon-color:#f07c29;
$showHide-btn-background:white;
$showHide-btn-color:grey;
$background-img:'background-img.png';
$img-path:'./assets/images/';
$body-background: #fff;
$page-container-background: white;
$product-name-color:#878787;
$container-border-color: #dcdcdc;
$btn-lightdefault-border: #dcdcdc;
$delete-icon-color: #ce4545;
$btn-default:#f8f9fa; 
$confirm-status-background: aliceBlue;
$check-icon-color: green;
$pendingclock-icon-color: #58b6d5;
$pending-status-background: whitesmoke;
$product-hover-border: black;
$btn-outline-color: #4fbfa8;
$btn-outline-color1: #004E64;
$btn-outline-color1-active: #003D4F;
$contact-us-footer: #edf0f5;
$copyright-footer: #304659;
$contact-us-footercolor: #212529;
$contactus-linkicon-color: #005c50;
$contact-us-border: gainsboro;