<div class="product-page-container">
    <div class="row">
        <!-- <div class="col-md-12 col-xs-12 col-12"> -->
            <div class="col-md-2 col-4">
                <app-category-menu></app-category-menu>
            </div>
            <div class="col-md-10 col-8 product-list-container">
               <div class="row">
                 <div class="col-md-3 addproduct-btn-container">
                    <!-- add product modal -->
                    <app-add-product class="add-product-container" [editMode]="editMode" (productAddEvent)="receiveProductAddEvent($event)"></app-add-product>
                 </div>
               </div> 
               <div class="row"> 
                  
                    <div class="col-md-3 col-sm-12 col-xs-12 col-12 product-list-item-container" *ngFor="let product of products">
                        <div class="product-list-item">
                           
                            <div class="product-img-container">
                                <img *ngIf="product.productImages && product.productImages[0]" class="product-img" src='{{getProductImageToBeShown(product.productImages)}}' />
                                <img *ngIf="!(product.productImages && product.productImages[0])" class="product-img" src="./../../../assets/images/herbal-med.jpg" />
                            </div>
                            <div class="img-details-container">
                                <div class="product-name">
                                                        <!-- product description modal -->
                                    <app-product-description [product]=product></app-product-description>
                                </div>
                                <div class="product-description">{{product.description}}</div>
                                <div class="product-price">
                                 <span class="current-currency-symbol">{{currentCurrency}}</span>   
                                 <span class="price-value">{{product.price}}</span>
                                </div>
                                <div class="user-action-btns row">
                                    <input type="number" class="qty-input col-3" value="1" id="input1" placeholder="Qty">
                                    <button class="btn btn-primary btn-outline add-to-cart add-cart-btn" (click)="addToCart(product)">
                                        <!-- <i class="fa-solid fa-user"></i> -->
                                        Add to cart
                                    </button>
                                    <button class="btn btn-primary btn-outline-customsecondary add-to-cart buy-btn" (click)="openOrderConfirmationModal(product)" value="1">Buy</button>
                                </div>
                                <div class="admin-btn">
                                    <span class="edit-delete-btncontainer" *ngIf="isAdmin">
                                        <fa-icon class="hand-cursor edit-icon" [icon]="faEdit" (click)="editProduct(product)">
                                        </fa-icon>
                                        <fa-icon class="hand-cursor delete-icon" [icon]="faTrash" (click)="deleteProduct(product)">
                                        </fa-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
               </div> 
            </div>
        <!-- </div> -->
    </div>
</div>