@import "./../../../assets/scss/variables.scss";

.product-page-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @media only screen and (max-width: 768px) {
        overflow-y: auto;
        max-height: 100vh;
    }

    .product-list-container {
        overflow-y: auto;
        max-height: 89vh;

        .addproduct-btn-container {
           margin-bottom: 20px;
        }

        @media only screen and (max-width: 768px) {
            max-height: initial;
            overflow-y: hidden;
        }

        .product-list-item-container {
            @media only screen and (max-width: 768px) {
                padding-left: 0px;
            }
        }
    }

    .product-list-item {
        box-shadow: 0px 0px 2px 2px gainsboro;
        float: left;
        border: solid 1px gainsboro;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        background-color: white;

        .product-img-container {
            margin-bottom: 10px;
        }

        .product-img {
            height: 200px;
            width: 100%;
            border: solid 1px gainsboro;
            margin: auto;
            display: block;
        }

        .add-to-cart {
            float: right;
        }

        .product-name {
            color: $product-name-color;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .product-description {
            display: inline-block;
            width: calc(100% - 30px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0;
        }
    }
}