<div class="product-page-container">
    <div class="row">
        <!-- <div class="col-md-12 col-xs-12 col-12"> -->
            <div class="col-md-2 col-4">
                <app-category-menu></app-category-menu>
            </div>
            <div class="col-md-10 col-8 product-list-container">
               <div class="row">
                 <div class="col-md-3 addproduct-btn-container">
                    <!-- add product modal -->
                    <app-add-product class="add-product-container" [editMode]="editMode" (productAddEvent)="receiveProductAddEvent($event)"></app-add-product>
                 </div>
               </div> 
               <div class="row"> 
                  
                    <div class="col-md-3 col-sm-12 col-xs-12 col-12 product-list-item-container" *ngFor="let product of products">
                        <div class="product-list-item">
                            <div class="product-img-container">
                                <img class="product-img" src="./../../../assets/images/herbal-med.jpg" />
                            </div>
                            <div class="product-name">
                                                    <!-- product description modal -->
                                   <app-product-description [productName]=product.productName></app-product-description>
                            </div>
                            <div class="product-description">{{product.description}}</div>
                            <div>
                                <span class="edit-delete-btncontainer" *ngIf="isAdmin">
                                    <fa-icon class="hand-cursor edit-icon" [icon]="faEdit" (click)="editProduct(product)">
                                    </fa-icon>
                                    <fa-icon class="hand-cursor delete-icon" [icon]="faTrash" (click)="deleteProduct(product)">
                                    </fa-icon>
                                </span>
                                <button class="btn btn-primary add-to-cart" (click)="addToCart()">Add to cart</button>
                            </div>
                        </div>
                    </div>
               </div> 
            </div>
        <!-- </div> -->
    </div>
</div>